

.Candidate-Wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    
}
.Candidate-Content {
    width: 45%;
    min-width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px; 
    border: none;
    outline: none;
    border-radius: 8px;
    box-shadow: 0 0 10px 0.9px #699399;

        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            padding: 5%;
            object-fit: cover;

        }

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }

        .Candidate-Info {
            text-align: left;
            padding-top: 20px;
        }
        
}

.next {
    text-decoration: none;
    text-align: center;
    background-color: rgb(24, 119, 242);
    color: white;
    border: 1px solid grey;
    padding: 8px 24px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 18px;

    &:hover {
        transform: scale(1.1);
      }
}

@media only screen and (max-width: 1200px) {
    .Candidate-Wrapper {
        justify-content: flex-end;
    }
    .Candidate-Content {
        width: 80%;
        
    }
   
}

@media only screen and (max-width: 830px) {

}