.Candidate-Wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
.Candidate-Content {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px; 
    border: 1px solid darkgray;
        img {
            width: 20%;
            border-radius: 50%;
            padding: 5%;
            object-fit: cover;

        }
}