

.Candidate-Wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    
}
.Candidate-Content {
    width: 45%;
    min-width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px; 
    border: none;
    outline: none;
    border-radius: 8px;
    box-shadow: 0 0 10px 0.9px #699399;

        img {
            width: 20%;
            border-radius: 50%;
            padding: 5%;
            object-fit: cover;

        }

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }

        
}

.next {
    text-decoration: none;
    text-align: center;
    background-color: rgb(24, 119, 242);
    color: white;
    border: 1px solid grey;
    padding: 8px 24px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 18px;

    &:hover {
        transform: scale(1.1);
      }
}