.CandidateWrapper {
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;

}

.Header{
    background-color: lightgray;
    font-size: 20px;
    padding: 20px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    .login-btn {
        text-decoration: none;
        color: black;
        border: 1px solid grey;
        padding: 5px;

    }
}

.CandidatesSearch{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
    text-align: center;
    

    h2 {
       margin: 0;
    }
}