.Modal-Container {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);  
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 70%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 15px;
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;  
  }

  .modal-main p {
    margin: 0;
  }

  .modal-main img {
      width: 30%;
  }
  
  .display-block {
    display: block;
    align-items: center;
  }
  
  .display-none {
    display: none;
  }

  .modal-main button {
      background-color: blue;
      border: none;
      outline: none;
      border-radius: 15px;
      padding: 10px;
      color: white;
      text-transform: uppercase;
      margin: 10px;
     
  }

  .modal-content {
    width: 80%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 17px;
   
  }

 

 