.reports-cnt {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    box-shadow: 0 0 10px 0.9px #699399;
}

.reports-selects {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    color: blue;

    .date {
        width: 30%;
        text-align: left;

        p {
            margin: 0;
        }

        .react-datepicker-wrapper {
            width: 100%;
            
            input {
                padding: 5px;
                border: none;
                outline: none;
                border-radius: 8px;
                box-shadow: 0 0 10px 0.9px #699399;
            }
        }
    }

    .phase {
        width: 30%;
        text-align: left;

        p {
            margin: 0;
        }

        select {
            width: 100%;
            padding: 5px;
            border: none;
            outline: none;
            border-radius: 8px;
            box-shadow: 0 0 10px 0.9px #699399;
           
        }
    }

    .status {
        width: 30%;
        text-align: left;

        p {
            margin: 0;
        }

        select {
            width: 95%;
            padding: 5px;
            border: none;
            outline: none;
            border-radius: 8px;
            box-shadow: 0 0 10px 0.9px #699399;
        }
    }
}

.notes {
    width: 96%;
    margin-left: 16px;

    textarea {
        width: 100%;
        height: 300px;
        border: none;
        outline: none;
        border-radius: 8px;
        box-shadow: 0 0 10px 0.9px #699399;
    }
}

.btns-cnt {
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin: 17px;

    .prev {
        text-decoration: none;
        text-align: center;
        background-color: rgb(113, 119, 126);
        color: white;
        border: 1px solid grey;
        padding: 8px 17px;
        border-radius: 20px;
        border: none;
        outline: none;
        box-shadow: 0 0 5px 0.5px #555f61;
        font-size: 18px;

            &:hover {
                transform: scale(1.1);
            }
     }

     .submit {
        text-decoration: none;
        text-align: center;
        background-color: rgb(8, 76, 155);
        color: white;
        border: 1px solid grey;
        padding: 8px 12px;
        border-radius: 20px;
        border: none;
        outline: none;
        box-shadow: 0 0 5px 0.5px #555f61;
        font-size: 18px;

            &:hover {
                transform: scale(1.1);
            }
     }
     }

