.reports-cnt {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    box-shadow: 0 0 10px 0.9px #699399;
}

.reports-selects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2%;
    color: blue;

    .date {
        width: 30%;
        text-align: left;
        display: flex;
        flex-wrap: wrap;

        p {
            margin: 0;
            margin-bottom: 5%;
        }

        .react-datepicker-wrapper {
            width: 100%;

            
            input {
                width: 100%;
                padding: 5px 0px;
                border: none;
                outline: none;
                border-radius: 8px;
                box-shadow: 0 0 10px 0.9px #699399;

                &:hover {
                    cursor: pointer;
                    
                }
            }

        }
    }

    .phase {
        width: 30%;
        text-align: left;

        p {
            margin: 0;
            margin-bottom: 5%;
        }

        select {
            width: 100%;
            padding: 5px 0px;
            border: none;
            outline: none;
            border-radius: 8px;
            box-shadow: 0 0 10px 0.9px #699399;

            &:hover {
                cursor: pointer;
                
            }
           
        }

        
    }

    .status {
        width: 30%;
        text-align: left;

        p {
            margin: 0;
            margin-bottom: 5%;
        }

        select {
            width: 100%;
            padding: 5px 0px;
            border: none;
            outline: none;
            border-radius: 8px;
            box-shadow: 0 0 10px 0.9px #699399;

            &:hover {
                cursor: pointer;
                
            }
        }
    }
}

.notes {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
   

    textarea {
        width: 100%;
        height: 300px;
        border: none;
        outline: none;
        border-radius: 8px;
        box-shadow: 0 0 10px 0.9px #699399;
    }
}

.btns-cnt {
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin: 17px;

    .prev {
        text-decoration: none;
        text-align: center;
        background-color: rgb(113, 119, 126);
        color: white;
        border: 1px solid grey;
        padding: 8px 17px;
        border-radius: 20px;
        border: none;
        outline: none;
      
        font-size: 18px;

            &:hover {
                transform: scale(1.1);
            }
     }

     .submit {
        text-decoration: none;
        text-align: center;
        background-color:#1877f2;;
        color: white;
        border: 1px solid grey;
        padding: 8px 24px;
        border-radius: 20px;
        border: none;
        outline: none;
     
        font-size: 18px;

            &:hover {
                transform: scale(1.1);
            }
     }
     }

     @media only screen and (max-width: 510px) { 
        .reports-selects {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 2%;
            color: blue;
        
            .date {
                width: 90%;
                p{ margin-bottom: 5px;}
            }
             .phase{
                width: 90%;
                margin-top: 2%;
                p{
                    margin-bottom: 5px;
                }
             }
             .status {
                margin-top: 2%;
                width: 90%;      
                p{
                    margin-bottom: 5px; 
                 }
            }
        }
    }